.header {
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 15px;

    &__logo {
        img {
            width: 70px;
            height: 70px;
        }
    }

    &__img {}

    &__logoKvadratWrapper {}

    &__logoKvadrat {
        display: flex;
        height: 50px;
        width: 50px;
        background-color: #5cc4bac7;
    }
}

.loginBlock {
    padding: 0 50px 0 0;
    font-size: 25px;
    font-weight: 900;

    &__login {
        color: white;
    }

    &__loginLink {
        color: white;
        font-size: 20px;
        font-weight: 700;
    }
}

.loginLogOutBlock {

    &__login {
        color: grey;
    }

    &__wrapperButton {
        display: flex;
        justify-content: center;
        padding: 5px 0px;
    }

    &__button {
        font-size: 20px;
        font-weight: 700;
        padding: 3px 15px;
        border-radius: 5px;
        background-color: #5cc4bac7;
        color: white;

        &:hover {
        }
    }
}